body {
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    color: rgba(26, 26, 26, .75);
    background: rgb(237,237,237);
    background: linear-gradient(90deg, rgba(237,237,237,1) 0%, rgba(250,250,250,1) 50%, rgba(237,237,237,1) 100%);
    margin-bottom: 105px;
    position: relative;
    min-height: calc(100svh - 105px);
}

a {
    color: #1677ff;
}

body>div:nth-child(3) { 
    margin: 1rem calc(8px + 25%) 0 calc(8px + 25%);
    background: rgb(255, 255, 255);
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    text-align: center;
    padding: 1rem 1rem 0 1rem;
}

a:visited {
    color: rgba(22, 119, 255, .8);
}

a:hover,
a:active {
    color: rgba(22, 119, 255, .5);
}

.btn.btn-primary {
	color: #fff;
	background: #1677ff;
	box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
    transition: .3s background-color linear, .3s color linear;
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: .24em;
    border: none;
}

.btn.btn-primary:hover {
    background-color: #69a4f7;
    color: #fff !important;
    border: none;
}

.card-header {
    background-color: #fafafa;
}

.card-header a {
    font-size: 1.5rem;
    color: rgba(26, 26, 26, .75);
    border-bottom-color: rgba(19, 1, 1, .276);
}

div.logoheader {
    background: 0 0;
    height: 70px;
    width: 100%;
    min-width: 0;
}

div.logoheader h1 {
    background: transparent url("images/cadre.png") no-repeat top left;
    background-size: 100%;
    margin-top: 8px;
    margin-left: 8px;
    width: 213px;
    height: 75px;
    float: left
}

div.skincilogonlogo {
    background: transparent url("images/AAF.png") no-repeat top left;
    background-size: contain;
    display: inline;
    margin-top: 12px;
    margin-right: 8px;
    height: 102px; 
    width: 106px;
}

div.skincilogonlogo a img {
    display: none
}

.form-check label {
    margin-left: 1em;
}

.footer {
    position: absolute;
    bottom: -105px;
    height: auto;
    border: 1px solid #c0c2c5;
    background-color: rgba(5, 0, 0, .03);
    padding: 10px 0;
}

.footer a:link,
.footer a:visited {
    color: rgba(22, 119, 255, 0.75);
    outline: none;
    text-decoration: underline
}

.footer a:hover,
.footer a:active {
    color: rgba(22, 119, 255, 0.40);
    text-decoration: none
}

#heading-oidcconsent {
    display: none;
}

#heading-selectanidp {
    text-indent: -9999px;
    line-height: 0
}

#heading-selectanidp:after {
    content: "Choose Your Identity Provider";
    text-indent: 0;
    display: block;
    line-height: initial
}

.dropdown.bootstrap-select {
    width: 90% !important;
    text-align: center;
}

.dropdown-menu {
    width: 90%
}

.dropdown-toggle {
    background-color: transparent;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    padding: 13px 12px
}

.bootstrap-select .dropdown-toggle .filter-option {
    text-align: center;
}

@media screen and (max-width: 991px) {
    body>div:nth-child(3) { 
        margin: 1rem calc(10px + 16.666667%) 0 calc(10px + 16.666667%);
    }
}

@media screen and (max-width: 767px) {
    body>div:nth-child(3) { 
        margin: 1rem calc(12px + 8.333333%) 0 calc(12px + 8.333333%);
    }
}


@media screen and (max-width: 600px) {
    div.logoheader h1 {
        margin-top: 8px;
        margin-left: 8px;
        width: 180px;
        height: 70px;
    }

    div.skincilogonlogo {
        width: 80px;
        height: 70px;
    }

    .px-5 {
        padding: 1em !important;
    }
}

@media screen and (max-width: 575px) {
    body>div:nth-child(3) { 
        margin: 1rem 15px 0 15px;
    }
}